<h1>{{title}}</h1>

<section id="product-details">

    {{#if price}}
        <p><strong>Price:</strong> {{price}}€</p>
    {{else}}
        <p>This is too valuable. Please contact us to discuss about price for this NFT</p>
    {{/if}}


    {{#if categories}}
        <div>
            <h2>This NFT belongs to the following categories:</h2>
            <ul>
                {{#each categories}}
                    <li>
                        <a href="">{{this}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    <img src='/images/{{imgFile}}' />
</section>

{{> banner }}
